version: "3.7"
services:
  mongo:
    image: mongo:latest
    container_name: mongo
    restart: unless-stopped
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ./.docker/entrypoint:/docker-entrypoint-initdb.d
      - mongoData:/data/db
      - mongoConfig:/data/configdb
    command: --wiredTigerCacheSizeGB 1.5 --bind_ip_all

volumes:
  mongoData:
  mongoConfig: